#login {
  color: #d0e5f2cc;
  outline: none;
  border: none;
  background-color: transparent;
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 15px;
  line-height: 25px;
  text-transform: capitalize;
  border-radius: 20px;
  cursor: pointer;
}

#login:hover {
  color: #fff;
}

.wd--profile-account-link-btns {
  display: flex;
  justify-content: center;
  gap: 1rem;
  align-items: center;
}

@media screen and (max-width: 350px) {
  .wd--profile-account-link-btns {
    flex-direction: column;
  }
}
