.wd-profile--statistics-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  grid-area: 2 / 4 / 6 / 10;
  background-color: #fff;
  border-radius: 20px;
  color: #243550;
  padding: 2rem 0;
}

.wd-profile--calculations-title,
.wd-profile--statistics-title,
.wd-profile--your-posts-title {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  border-bottom: 1px solid #d9d9d9;
  font-size: 1.5rem;
  font-weight: 800;
  padding-bottom: 0.5rem;
}

.wd-profile--calculations,
.wd-profile--statistics {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  gap: 1rem;
}

.wd-profile--calculations-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 50%;
}

.wd-profile--calculations-budget {
  --width-of-input: 100px;
  --border-height: 1px;
  --border-before-color: #d9d9d9;
  --border-after-color: #ff6b00;
  --input-hovered-color: #4985e01f;
  position: relative;
  width: var(--width-of-input);
  display: flex;
  justify-content: flex-start;
}
/* styling of Input */
.wd-profile--calculations-budget input {
  color: #fff;
  font-size: 0.9rem;
  background-color: transparent;
  width: 100%;
  box-sizing: border-box;
  padding-inline: 0.5em;
  padding-block: 0.7em;
  border: none;
  border-bottom: var(--border-height) solid var(--border-before-color);
}
/* styling of animated border */
.wd-profile--calculations-border {
  position: absolute;
  background: var(--border-after-color);
  width: 0%;
  height: 2px;
  bottom: 0;
  left: 0;
  transition: 0.3s;
}
/* Hover on Input */
.wd-profile--calculations-budget input:hover {
  background: var(--input-hovered-color);
}

.wd-profile--calculations-budget input:focus {
  outline: none;
}
/* here is code of animated border */
.wd-profile--calculations-budget
  input:focus
  ~ .wd-profile--calculations-border {
  width: 100%;
}

.wd-profile--calculations-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 50%;
  gap: 1rem;
  padding: 0.5rem;
  border-radius: 20px;
  border: none;
  background-color: #ff6b00;
  color: #fff;
  font-size: 0.9rem;
  font-weight: 600;
  cursor: pointer;
}

.wd-profile--statistics-comingsoon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 2rem;
  font-weight: 800;
}

@media screen and (max-width: 1400px) {
  .wd-profile--statistics-wrapper {
    grid-area: 2 / 5 / 6 / 10;
  }
}

@media screen and (max-width: 1100px) {
  .wd-profile--statistics-wrapper {
    grid-area: 2 / 5 / 7 / 9;
  }
  .wd-profile--calculations-link {
    width: 100%;
  }
  .wd-profile--statistics-title,
  .wd-profile--calculations-title {
    justify-content: center;
  }
}

@media screen and (max-width: 900px) {
  .wd-profile--calculations-title,
  .wd-profile--statistics-title,
  .wd-profile--your-posts-title {
    font-size: 1rem;
  }
  .wd-profile--statistics-comingsoon {
    font-size: 1.5rem;
  }

  .wd-profile--calculations-body {
    font-size: 1rem;
  }
}

@media screen and (max-width: 800px) {
  .wd-profile--statistics-wrapper {
    grid-area: 2 / 6 / 6 / 13;
  }
}

@media screen and (max-width: 426px) {
  .wd-profile--statistics-wrapper {
    height: 80vh;
  }
  .wd-profile--calculations {
    padding: 0;
  }
  .wd-profile--statistics {
    padding: 0;
  }
}
