.wd--post-wrapper {
  font-family: var(--font-family);
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
}

.wd--post-wrapper--info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 0rem 0 10rem 0;
  width: 75%;
}

.wd--post-wrapper--info-top {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  width: 100%;
}

.rdrDayDisabled {
  background-color: #efefef; /* Light grey background */
  color: #cccccc; /* Dimmed text color */
}

.wd--post-wrapper--info-top-left {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
}

.wd--post-wrapper--info-top-left--text {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.wd--post-wrapper--info-top-left--rating {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

.wd--post-wrapper--info-top-left--location {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

.wd--post-wrapper--info-top-left--images {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.carousel-root {
  width: 70%;
}

.wd--post-wrapper--info-top-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
}

.wd--post-wrapper--info-top-right--offers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  text-decoration: underline;
  cursor: pointer;
  transition: all 0.1s ease 0s;
}

.wd--post-wrapper--info-top-right--offers:hover,
.wd--post-wrapper--info-top-right--offers h4:hover {
  color: #ff6b00;
}

.wd--post-wrapper--info-top-right--booking {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
  gap: 1rem;
  border-bottom: 1px solid #d9d9d9;
}

.wd--post-wrapper--info-top-right--price {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  gap: 0.2rem;
  padding: 2rem 0;
  border-bottom: 1px solid #d9d9d9;
}

.wd--post-wrapper--info-top-right--price p {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: var(--color-subtext);
  font-size: 0.7rem;
  font-weight: 400;
  text-decoration: underline;
  cursor: pointer;
  text-align: start;
}

.wd--post-wrapper--info-top-right--button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 15px 25px;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-family: var(--font-family);
  font-weight: 700;
  text-align: center;
  color: #fff;
  background-color: #ff6b00;
  border: none;
  border-radius: 15px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.wd--post-wrapper--info-top-right--button:hover {
  background-color: #ff6b00;
  box-shadow: 0px 15px 20px #ffbc8c;
  color: #fff;
  transform: translateY(-7px);
}

.wd--post-wrapper--info-top-right--button:active {
  transform: translateY(-1px);
}

.wd--post-wrapper--info-top-right--socials {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 2rem 0;
  border-bottom: 1px solid #d9d9d9;
}

.wd--post-wrapper--info-top-right--socials button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0.5rem 1rem;
  font-weight: 600;
  font-size: 0.8rem;
  gap: 0.5rem;
  border: 1px solid #d9d9d9;
  background-color: #fff;
  letter-spacing: 0.05rem;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.wd--post-wrapper--info-top-right--socials button svg {
  transition: all 0.3s ease 0s;
}

.wd--post-wrapper--info-top-right--socials button:hover svg {
  color: red;
  scale: 1.1;
}

.wd--post-wrapper--info-top-right--socials-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

.wd--post-wrapper--info-top-right--socials-buttons svg {
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.wd--post-wrapper--info-top-right--socials-buttons svg:hover {
  transform: scale(1.1);
}

.wd--post-wrapper--info-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.wd--post-wrapper--info-bottom-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}

.wd--post-wrapper--info-bottom-left-specs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 80%;
  border-bottom: 1px solid #d9d9d9;
  padding: 2rem 0;
  gap: 1rem;
}

.wd--post-wrapper--info-bottom-left-specs-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  width: 50%;
}

.wd--post-wrapper--info-bottom-left--drive {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.wd--post-wrapper--info-bottom-left--drive svg {
  margin-right: 5px;
}

.wd--post-wrapper--info-bottom-left--transmission {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.wd--post-wrapper--info-bottom-left--transmission svg {
  margin-right: 5px;
}

.wd--post-wrapper--info-bottom-left--engine {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.wd--post-wrapper--info-bottom-left--engine svg {
  margin-right: 5px;
}

.wd--post-wrapper--info-bottom-left--fuel {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.wd--post-wrapper--info-bottom-left--fuel svg {
  margin-right: 5px;
}

.wd--post-wrapper--info-bottom-left--profile {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 80%;
  align-items: flex-start;
  gap: 1rem;
  border-bottom: 1px solid #d9d9d9;
  padding: 2rem 0;
}

.wd--post-wrapper--info-bottom-left--profile-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  height: 100%;
}

.wd--post-wrapper--info-bottom-left--profile-info-name {
  text-transform: capitalize;
  font-weight: 600;
}

.wd--post-wrapper--info-bottom-left--profile-info-image {
  width: 100px;
  height: 100px;
  border-color: #cdcdcd;
  border-width: 1px;
  border-style: solid;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(227, 227, 227);
}

.wd--post-wrapper--info-bottom-left--profile-info-image img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  justify-self: center;
  align-self: center;
  object-fit: cover;
}

.wd--post-wrapper--info-bottom-left--profile-info-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1rem;
}

.wd--post-wrapper--info-bottom-left--description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 80%;
  padding: 2rem 0;
  gap: 1rem;
  border-bottom: 1px solid #d9d9d9;
}

.wd--post-wrapper-info-comments {
  margin-top: 2rem;
  width: 100%;
  margin-bottom: 5rem;
}

.wd--post-wrapper--info-bottom-right--calendar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 2rem 0;
  width: 270px;
}

@media screen and (max-width: 1200px) {
  .carousel-root {
    width: 90%;
  }
}

@media screen and (max-width: 1000px) {
  .wd--post-wrapper--info-top {
    flex-direction: column;
    align-items: center;
  }

  .wd--post-wrapper--info-top-left,
  .carousel-root,
  .wd--post-wrapper--info-bottom-left-specs,
  .wd--post-wrapper--info-bottom-left--profile,
  .wd--post-wrapper--info-bottom-left--description {
    width: 100%;
  }

  .wd--post-wrapper--info-bottom {
    flex-direction: column-reverse;
    align-items: center;
  }

  .wd--post-wrapper--info-bottom-left {
    width: 100%;
  }

  .wd--post-wrapper--info-bottom-right--calendar {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .wd--post-wrapper--info {
    width: 100%;
    gap: 2rem;
  }

  .wd--post-wrapper--info-top-left--text {
    width: 90%;
    align-self: center;
  }
  .wd--post-wrapper--info-top-left--text h1 {
    font-size: 1.5rem;
  }

  .wd--post-wrapper--info-top-right--price {
    align-items: center;
    text-align: center;
  }

  .wd--post-wrapper--info-top-right--price p {
    align-items: center;
    text-align: center;
  }

  .wd--post-wrapper--info-bottom-left {
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .wd--post-wrapper--info-bottom-left-specs {
    align-items: center;
  }

  .wd--post-wrapper--info-bottom-left--profile {
    align-items: center;
  }

  .wd--post-wrapper--info-bottom-left--profile-info {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .wd--post-wrapper--info-bottom-left--profile-info-right {
    text-align: center;
    align-items: center;
  }

  .wd--post-wrapper--info-bottom-left--description {
    align-items: center;
  }

  .wd--post-wrapper--info-bottom-left--description h2 {
    width: 100%;
    text-align: center;
  }

  .wd--post-wrapper--info-bottom-left--description p {
    width: 90%;
    text-align: start;
  }

  .wd--post-wrapper-info-comments {
    text-align: center;
  }
}
