.wd--post-wrapper {
  font-family: var(--font-family);
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}
.wd--post-wrapper--images {
  width: 100%;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.wd--post-wrapper--images img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  user-select: none;
}

.wd--post-wrapper--images--btns {
  display: flex;
  position: absolute;
  z-index: 1;
  width: 90%;
  justify-content: space-between;
  align-items: center;
}

.wd--post-wrapper--images--btns svg {
  width: 30px;
  height: 30px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  padding: 5px;
  cursor: pointer;
}

.wd--post-wrapper--info-top {
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0 auto;
  height: 100vh;
}

.wd--post-wrapper--info-top-left {
  width: 100%;
}

.wd--post-wrapper--info-top-left--title {
  font-size: 1.5rem;
  font-weight: 600;
  color: #000;
}

.wd--post-wrapper--info-top-left--location {
  font-size: 1.2rem;
  font-weight: 600;
  color: #000;
  margin-bottom: 1rem;
}

.wd--post-wrapper--info-top-left-specs {
  display: flex;
  flex-direction: column;
}

.wd--post-wrapper--info-top-left-specs h1 {
  text-transform: uppercase;
  font-size: 1rem;
}

.wd--post-wrapper--info-top-left-specs-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  width: 50%;
  margin: 1rem;
}

.wd--post-wrapper--info-top-left--drive {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.wd--post-wrapper--info-top-left--drive svg {
  margin-right: 5px;
}

.wd--post-wrapper--info-top-left--transmission {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.wd--post-wrapper--info-top-left--transmission svg {
  margin-right: 5px;
}

.wd--post-wrapper--info-top-left--engine {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.wd--post-wrapper--info-top-left--engine svg {
  margin-right: 5px;
}

.wd--post-wrapper--info-top-left--fuel {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.wd--post-wrapper--info-top-left--fuel svg {
  margin-right: 5px;
}

.wd--post-wrapper--info-top-left--profile {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 1rem;
}

.wd--post-wrapper--info-top-left h2 {
  font-size: 1rem;
  text-transform: uppercase;
}

.wd--post-wrapper--info-top-left--profile {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  align-items: flex-start;
}

.wd--post-wrapper--info-top-left--profile-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  height: 100%;
  margin-top: 1rem;
}

.wd--post-wrapper--info-top-left--profile-info-name {
  text-transform: capitalize;
  font-weight: 600;
}

.wd--post-wrapper--info-top-left--profile-info-image {
  width: 100px;
  height: 100px;
  border-color: #cdcdcd;
  border-width: 1px;
  border-style: solid;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(227, 227, 227);
}

.wd--post-wrapper--info-top-left--profile-info-image img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  justify-self: center;
  align-self: center;
  object-fit: cover;
}

.wd--post-wrapper--info-top-left--profile-info-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1rem;
}

.wd--post-wrapper--info-top-right {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 1rem;
}

.wd--post-wrapper--info-top-right--booking {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid #e5e5e5;
  border-radius: 10px;
  padding: 1rem;
}

.wd--post-wrapper--info-top-right--price {
  font-size: 1rem;
  font-weight: 600;
}

.wd--post-wrapper--info-top-right--start-date {
  padding: 0.5rem 1rem;
  color: #cdcdcd;
  margin-top: 2rem;
  background: #fff;
  font-family: var(--font-family);
  font-weight: 100;
  font-size: 20px;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
}

.wd--post-wrapper--info-top-right--end-date {
  padding: 0.5rem 1rem;
  color: #cdcdcd;
  background: #fff;
  font-family: var(--font-family);
  font-weight: 100;
  font-size: 20px;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  margin: 1rem 0;
}

.wd--post-wrapper--info-top-right--button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 15px 25px;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-family: var(--font-family);
  font-weight: 700;
  text-align: center;
  color: #fff;
  background-color: #ff6b00;
  border: none;
  border-radius: 15px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.wd--post-wrapper--info-top-right--button:hover {
  background-color: #ff6b00;
  box-shadow: 0px 15px 20px #ffbc8c;
  color: #fff;
  transform: translateY(-7px);
}

.wd--post-wrapper--info-top-right--button:active {
  transform: translateY(-1px);
}
