.wd--search {
  display: flex;
  flex-direction: column;
  background-color: white;
  font-family: var(--font-family);
  position: relative;
}

.wd--search-content {
}

.wd--search-content--elements {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
  grid-gap: 5px;
}

.wave3 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
  height: 101%;
  pointer-events: none;
}

.wave3 svg {
  position: relative;
  display: block;
  width: calc(205% + 1.3px);
  height: 99px;
}

.wave3 .shape-fill3 {
  fill: #1d1d1d;
}
