.wd--search {
  display: flex;
  flex-direction: column;
  background-color: white;
  font-family: var(--font-family);
  position: relative;
  min-height: 100vh;
}

.wd--search-content {
  margin-bottom: 10rem;
}

.wd--search-content--elements {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
  grid-gap: 20px;
}

.wd--search-content--elements-title {
  text-align: center;
  color: black;
}

@media screen and (max-width: 365px) {
  .wd--search-content--elements {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}
