.wd-profile--notifications--message{
    display: flex;
    flex-direction: row;
    background-color: #f9fafb;
    padding: 2%;
    height: 50px;
    border-radius: 10px;
    width: 90%;
  }
  .wd-profile--notifications--message.opened .wd-profile--notifications--message-content{
    height: auto !important;
    align-items: center;
  }

  .wd-profile--notifications--message.opened .wd-profile--notifications--message-content-title{
    font-size: large;
    font-weight: 600;
    width: 100%;
  }

  .wd-profile--notifications--message.opened .wd-profile--notifications--message-content--text{
    padding: 10px;
    font-weight: 400;
  }
  .wd-profile--notifications--message-content--text{
    padding-top: 0px;
    width: 80%;
    padding-left: 5%;
    padding-top: 2%;
  }

  
  .wd-profile--notifications--message.opened{
    height: auto;
    border: 0.5px solid #243550;
  }

  .wd-profile--notifications--message:hover {
    background-color: #2e446856;
    cursor: pointer;
  }

  #unread {
    display: flex;
    flex-direction: row;
    background-color: #f9fafb;
    color: #243550;
    padding: 2%;
    height: 50px;
    border-radius: 10px;
    width: 90%;
    font-weight: 900;
    border: 1px solid #243550;
  }

  #unread p{
    font-weight: 800;
  }

  #unread:hover{
    background-color: #2e446856;
    cursor: pointer;
  }

  .wd-profile--notifications--message-content-title{
    font-size: large;
    font-weight: 600;
    width: 100%;
  }

  .wd-profile--notifications--message-content{
    display: flex;
    flex-direction: column;
    gap: 10%;
    height: 50px;
    align-content: space-between;
    width: 100%;
    overflow: hidden;
    word-break: normal;
  }
  .wd-profile--notifications--message--right{
    display: flex;
    flex-direction: column ;
    align-items: center;
    justify-content: center;
    width: 101px;
  }
  .wd-profile--notifications--message--right p{
    font-size: small;
  }

  .wd-profile--notifications--message-content--button{
    width: 20%;
    display: flex;
    align-content: center;
    justify-content: center;
  }

  @media screen and (max-width: 1400px) {
    svg.icon{
      width: 20px;
      height: 20px;
    }

  }
  
  @media screen and (max-width: 1100px) {
    
    .wd-profile--notifications--message-content-title{
      font-size: medium;
    }
    .wd-profile--notifications--message-content--text{
      font-size: small;
      padding-top: 0%;
    }
    .wd-profile--notifications--message--right p{
      font-size: smaller;
      width: 80px;
    }
  }
  
  @media screen and (max-width: 900px) {
    .wd-profile--notifications--message-content--text{
      overflow: hidden;
      padding-top: 3%;
    }
    .wd-profile--notifications--message-content--unreadText{
      padding: 0%;
    }
    .wd-profile--notifications--message-content{
      height: 45px;
    }
    .wd-profile--notifications--message-content-title{
      font-size: medium;
      font-weight: 600;
    }
    .wd-profile--notifications--message-content--text{
      font-size: small;
    }
    .wd-profile--notifications--message--right p{
      font-size: smaller;
      width: 80px;
    }
    .wd-profile--notifications--message.opened .wd-profile--notifications--message-content--text{
      padding-top: 2%;
    }
  }

  @media screen and (max-width: 700px) {
    .wd-profile--notifications--message-content--text{
      overflow: hidden;
      padding-top: 4%;
    }
    .wd-profile--notifications--message-content{
      height: 45px;
      font-size: small;
    }
    .wd-profile--notifications--message-content--text{
        font-size: small;
    }
  }
  
  