.wd--search--top-filter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.wd--search--top-filter-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
  width: auto;
}

.wd--search--top-filter-btns {
  display: flex;
  flex-wrap: nowrap;
  border-radius: 50px 50px 50px 50px;
  box-shadow: rgba(0, 0, 0, 0.25) 2.95px 2.95px 3.6px;
  transition: all 0.2s ease-in-out 0s;
}

.wd--search--top-filter-btns:hover {
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.wd--search--top-filter-btns button {
  width: 120px;
  height: 40px;
  font-family: var(--font-family);
  font-size: 15px;
  outline: none;
  cursor: pointer;
}

.wd--search--top-filter-btns button:hover {
  background-color: #f77f00;
  border-color: #f77f00;
  color: white;
}

.wd--search--top-filter-btns button:focus {
  background-color: #f77f00;
  border-color: #f77f00;
  color: white;
}

.where-btn {
  border: 1px solid #e5e5e5;
  background-color: #fff;
  border-right: none;
  border-radius: 50px 0 0 50px;
  font-weight: 300;
}

.how-much-btn {
  border: 1px solid #e5e5e5;
  background-color: #fff;
  border-left: none;
  border-right: none;
  font-weight: 300;
}

.how-long-btn {
  border: 1px solid #e5e5e5;
  background-color: #fff;
  border-left: none;
  border-right: none;
  font-weight: 300;
}

.brand-btn {
  border: 1px solid #e5e5e5;
  background-color: #fff;
  border-left: none;
  border-right: none;
  font-weight: 300;
}

.reset-btn {
  border: 1px solid #f77f00;
  border-left: none;
  color: white;
  border-radius: 0 50px 50px 0;
  background-color: #f77f00;
  font-weight: 600;
}

.wd--search--top-filter-dropdown {
  display: none;
  border: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: auto;
}

.wd--search--top-filter-dropdown-btn {
  display: flex;
  border-radius: 50px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  border: none;
  background-color: #f77f00;
  outline: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0.5rem 0rem;
  font-size: 15px;
  font-family: var(--font-family);
  font-weight: 700;
  color: #fff;
  width: 300px;
  position: relative;
}

.wd--search--top-filter-dropdown-btn svg {
  fill: white;
  position: absolute;
  right: 5px;
}

.wd--search--top-filter-dropdown-content {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  border-radius: 50px 50px 50px 50px;
  width: 100%;
  margin-top: 1rem;
}

.wd--search--top-filter-dropdown-content button {
  height: 30px;
  font-family: var(--font-family);
  font-size: 15px;
  outline: none;
  cursor: pointer;
  border-left: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.wd--search--top-filter-dropdown-content button:last-child {
  border-left: #f77f00;
  border-right: #f77f00;
}

.wd--search--top-filter-dropdown-content button:hover {
  background-color: #f77f00;
  border-color: #f77f00;
  color: white;
}

.wd--search--top-filter-dropdown-content button:focus {
  background-color: #f77f00;
  border-color: #f77f00;
  color: white;
}

@media screen and (max-width: 1050px) {
  .wd--search--top-filter-btns {
    margin-top: 3.5rem;
  }
}
@media screen and (max-width: 650px) {
  .wd--search--top-filter-btns {
    display: none;
  }

  .wd--search--top-filter-dropdown {
    display: flex;
    margin-top: 3.5rem;
  }

  .wd--search--top-filter-btns button {
    width: 300px;
  }

  .where-btn {
    border-radius: 50px 50px 0 0;
  }
  .reset-btn {
    border-radius: 0 0 50px 50px;
  }
}

@media screen and (max-width: 450px) {
  .wd--search--top-filter-dropdown-btn {
    width: 250px;
  }
}
