.location-container {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}

.location-input-wrapper {
  position: relative;
  width: 40%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.location-search-input {
  padding: 1rem 2rem;
  font-size: 16px;
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 5rem;
  width: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
  transition: background-color 0.2s ease-in-out;
}

.location-search-icon {
  position: absolute;
  top: 50%;
  right: -1.5rem;
  transform: translateY(-50%);
  font-size: 1.5rem;
  color: #fff;
  cursor: pointer;
  background-color: #f77f00;
  border-radius: 50%;
  padding: 0.5rem;
}

.location-search-icon:hover {
  background-color: #ff8c00;
}

.location-search-input:hover {
  background-color: #ededed;
}

.location-search-input:focus {
  outline: none;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.2s ease-in-out;
}

.autocomplete-dropdown-container {
  position: absolute;
  top: 100%;
  z-index: 1000;
  background-color: white;
  font-size: 16px;
  text-align: center;
  width: 50%;
  border-radius: 1rem;
  font-weight: 500;
}

.suggestion-item {
  padding: 0.5rem 2rem;
  cursor: pointer;
}

.suggestion-item:hover {
  border-radius: 1rem;
  background-color: #ededed;
}

@media screen and (max-width: 600px) {
  .location-input-wrapper {
    width: 80%;
  }

  .autocomplete-dropdown-container {
    width: 80%;
  }
}
