.wd--edit-vehicle--wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: #f9fafb;
  padding: 2rem 0 0 0;
}

.wd--edit-vehicle--main {
  width: 100%;
  height: auto;
  background-color: #fff;
  margin: 0rem 2rem;
  padding: 1rem;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-left: calc(1rem + 100px);
  box-shadow: 0px 0px 10px 0px #ededed;
}

.wd--edit-vehicle--content-top {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  align-self: center;
  justify-content: space-between;
  width: 100%;
  gap: 1rem;
  height: 50%;
  margin-top: 2rem;
}

.wd--edit-vehicle--content--image {
  display: flex;
  width: 50%;
  height: 400px;
  border-radius: 15px;
  box-shadow: 0px 0px 10px 0px #a7a7a7;
  align-items: center;
  justify-content: center;
  position: relative;
  user-select: none;
  margin-left: 2rem;
}

.wd--edit-vehicle--content--image img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  object-fit: cover;
}

.wd--edit-vehicle--content--image-arrow {
  position: absolute;
  top: 50%;
  z-index: 1;
  border-radius: 50%;
  background-color: #dedede;
  cursor: pointer;
  transition: all 0.1s ease;
}

.wd--edit-vehicle--content--image-arrow:hover {
  background-color: #fff;
  transform: scale(1.1);
}

.wd--edit-vehicle--content--image-arrow:first-child {
  left: 3%;
}

.wd--edit-vehicle--content--image-arrow:last-child {
  right: 3%;
}

.wd--edit-vehicle--content--upload-photos {
  position: absolute;
  z-index: 1;
  bottom: 3%;
  padding: 0.5rem 1rem;
  color: #fff;
  background: #f77f00;
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 15px;
  line-height: 25px;
  border: none;
  outline: none;
  border-radius: 20px;
  cursor: pointer;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
}

.wd--edit-vehicle--content--upload-photos:hover {
  color: #003049;
}

.wd--edit-vehicle--content--upload-photos:disabled {
  background: #ffb565;
  cursor: not-allowed;
}

.wd--edit-vehicle--content--upload-photos:disabled:hover {
  background: #ffb565;
  color: #fff;
  cursor: not-allowed;
}

.wd--edit-vehicle--content--upload-photos label {
  cursor: pointer;
}

.wd--edit-vehicle--content--info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 50%;
  height: 450px;
  gap: 1rem;
}

.wd--edit-vehicle--content--info-details {
  display: flex;
  flex-direction: column;
  height: 80%;
  gap: 1rem;
  flex-wrap: wrap;
  align-items: center;
}

.wd--edit-vehicle--content--info-details-field {
  width: 200px;
}
.wd--edit-vehicle--content--info h1 {
  font-weight: 800;
  color: #003049;
  margin: 0;
  padding: 0;
  text-align: center;
}

.wd--edit-vehicle--content-bottom {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: center;
  justify-content: center;
  width: 100%;
  gap: 1rem;
  height: 50%;
}

.wd--edit-vehicle--content--date {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100%;
}

.wd--edit-vehicle--content--location {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100%;
  margin-left: 2rem;
}

.wd--edit-vehicle--content--location-map {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 400px;
}

.wd--edit-vehicle--buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: center;
  justify-content: space-between;
  width: 95%;
  gap: 1rem;
  height: 40px;
  margin-top: 1rem;
}

.wd--edit-vehicle--buttons-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
}

.wd--edit-vehicle--navbar-wrapper {
  display: none;
}

@media screen and (max-width: 1150px) {
  .wd--edit-vehicle--content-top {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }
  .wd--edit-vehicle--content-bottom {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
  }
  .wd--edit-vehicle--content--image {
    width: 80%;
    margin-left: 0;
  }
  .wd--edit-vehicle--content--info {
    width: 100%;
    margin-left: 0;
    justify-content: center;
  }
  .wd--edit-vehicle--content--date {
    width: 100%;
    margin-left: 0;
  }
  .wd--edit-vehicle--content--location {
    width: 100%;
    margin-left: 0;
  }
  .wd--edit-vehicle--content--info-details {
  }
}

@media screen and (max-width: 768px) {
  .wd--edit-vehicle--content--image {
    height: 300px;
    width: 90%;
  }
  .wd--edit-vehicle--content--info-details-field {
    width: 150px;
  }
  .wd--edit-vehicle--content--upload-photos {
    height: 30px;
    font-size: 12px;
  }
}

@media screen and (max-width: 500px) {
  .wd-profile--sidebar {
    display: none;
  }
  .wd--edit-vehicle--wrapper {
    padding: 0;
  }
  .wd--edit-vehicle--main {
    margin: 0;
    padding: 1rem 0;
  }
  .wd--edit-vehicle--content--info-details {
    width: 70%;
  }
  .wd--edit-vehicle--content--info-details-field {
    width: 120px;
  }
  .wd-profile--navbar {
    display: none;
  }
  .wd--edit-vehicle--navbar-wrapper {
    display: block;
  }
}

@media screen and (max-width: 400px) {
  .wd--edit-vehicle--content--image {
    height: 200px;
  }
  .wd--edit-vehicle--content--info-details {
    width: 100%;
  }
}
