.wd--moving-car-section {
  display: flex;
  position: relative;
  padding: 7rem 6rem 7rem 6rem;
  background-color: #81e1fc;
}

.wd--moving-car-section--content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-image: url("../../assets/road.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.wd--car {
  width: 10%;
  z-index: 2;
  position: absolute;
  offset-rotate: auto;
  top: 9%;
  left: 50%;
  /* offset-path: path(
    "M970 39c436-4 871-27 871 134s-454 210-871 210c-419 0-871-22-871 144s456 201 871 205c401-4 871-15 871 147s-486 222-871 222c-427 0-883-16-879 156s447 164 879 164"
  ); */
}

.wd--car img {
  height: 100%;
  width: 100%;
}

@keyframes move {
  100% {
    offset-distance: 100%;
  }
  0% {
    offset-distance: 0%;
  }
}

/* .wd--car-wheel {
  display: flex;
  transform: translateX(-50%);
  width: 106%;
  z-index: 2;
  align-items: center;
  left: 51%;
  bottom: 32%;
  justify-content: space-around;
  position: absolute;
}

.wd--car-wheel-left {
  height: 47px;
  width: 47px;
  z-index: 2;
  animation: wheel 1.6s linear infinite;
}

.wd--car-wheel-left img {
  width: 100%;
  height: 100%;
}

.wd--car-wheel-right {
  height: 47px;
  width: 47px;
  z-index: 2;
  animation: wheel 1.6s linear infinite;
}

.wd--car-wheel-left img {
  width: 100%;
  height: 100%;
} */

.wd--path {
  display: flex;
  width: 100%;
  height: 200px;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}

.wd--path p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: -0.04em;
  color: black;
}

#path-top-right {
  border-top: none;
  border-right: none;
}

#path-top-right p {
}

#path-top-left {
  border-top: none;
  border-left: none;
}

#path-top-left p {
}

.icon13 {
  margin-right: 15rem;
  font-size: 180px;
  color: grey;
}

.icon24 {
  margin-left: 15rem;
  font-size: 180px;
  color: grey;
}

.wave {
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.wave svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 161px;
}

.wave .shape-fill {
  fill: #ffffff;
}

@keyframes wdCar {
  100% {
    transform: translateY(-0.7px);
  }
  50% {
    transform: translateY(+0.7px);
  }
  0% {
    transform: translateY(-0.7px);
  }
}

@keyframes wheel {
  100% {
    transform: rotate(360deg);
  }
  50% {
    transform: rotate(180deg);
  }
  0% {
    transform: rotate(0deg);
  }
}

@keyframes moveDash {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 20px 0; /* Adjust this value to control the dash movement distance */
  }
}
