.wd--header {
  display: flex;
  flex-direction: column;
  position: relative;
  background-image: url("../../assets/firstCar.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  padding: 0 6rem 15rem 6rem;
}

.wd--header-1 {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
}

.wd--header-links {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.wd--header-links-logo {
  width: 100px;
}

.wd--header-links-logo img {
  width: 100%;
  height: 100%;
}

.wd--header-links-container {
  display: flex;
  flex-direction: row;
  margin-left: 2rem;
}

.wd--header-sign {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.wd--header-links-container p,
.wd--header-sign p,
.wd--header-menu-container p {
  color: #d0e5f2cc;
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 15px;
  line-height: 25px;
  text-transform: capitalize;
  padding: 0.5rem 1rem;
  border-radius: 20px;

  margin: 0 1rem;
  cursor: pointer;
}

.wd--header-links-container p:hover,
.wd--header-sign p:hover,
.wd--header-menu-container p:hover {
  background-color: #5f8092;
  opacity: 0.9;
}

#register {
  padding: 0.5rem 1rem;
  color: #d0e5f2cc;
  background: #f77f00;
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 15px;
  line-height: 25px;
  border: none;
  outline: none;
  border-radius: 20px;
  cursor: pointer;
}

#register:hover {
  color: #003049;
}

#login {
  color: #d0e5f2cc;
  outline: none;
  border: none;
  background-color: transparent;
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 15px;
  line-height: 25px;
  text-transform: capitalize;
  padding: 0.5rem 1rem;
  border-radius: 20px;

  margin: 0 1rem;
  cursor: pointer;
}

#login:hover {
  background-color: #5f8092;
  opacity: 0.9;
}

.wd--header-sign--account {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 120px;
  height: 50px;
  border: 10px;
  border-radius: 30px;
  background-color: #d0e5f2cc;
  cursor: pointer;
  /* border: 1px solid #d0e5f2cc; */
}

.wd--header-sign--account-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.wd--header-sign--account-avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.wd--header-menu {
  margin-left: 1rem;
  display: none;
  position: relative;
  z-index: 9999;
}

.wd--header-menu svg {
  cursor: pointer;
}

.wd--header-menu-container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
  text-align: end;
  background: var(--color-footer);
  padding: 2rem;
  position: absolute;
  right: 0;
  top: 40px;
  margin-top: 1rem;
  min-width: 210px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.wd--header-menu-container p {
  margin: 1rem 0;
}

.wd--header-menu-container-links-sign {
  display: none;
}

.wd--header--sign-dropdown {
  position: relative;
  z-index: 9999;
}

.wd--header--sign-dropdown-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: end;
  flex-direction: column;
  background: #d0e5f2cc;
  position: absolute;
  right: 0;
  top: 40px;
  margin-top: 0.6rem;
  width: 100px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  padding: 1rem;
}

.wd--header--sign-dropdown-container-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: end;
  width: 100%;
}

.wd--header--sign-dropdown-container-links p {
  color: #003049;
  width: 100%;
}

.wd--header--sign-dropdown-container-links:hover p {
  color: #003049;
  border-radius: 0;
}

.wd--header--sign-dropdown-container-button {
  padding: 0.5rem 1rem;
  color: #d0e5f2cc;
  background: #f77f00;
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 15px;
  line-height: 25px;
  border: none;
  outline: none;
  border-radius: 20px;
  cursor: pointer;
  display: flex;
  justify-self: flex-end;
  align-self: flex-end;
  margin-top: 1rem;
}

.wd--header-2 {
  display: flex;
  position: relative;
  width: 100%;
}

.wd--header-content {
  display: flex;
  width: 50%;
  flex-direction: column;
  align-items: flex-start;
  padding: 5rem 0 0 0;
}

.wd--header-content h1 {
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 62px;
  line-height: 75px;
  letter-spacing: -0.04em;
  color: #d0e5f2cc;
}

.wd--header-content p {
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 20px;
  line-height: 29px;
  margin-top: 2rem;
  color: #d0e5f2cc;
}

.wd--header-content--input {
  width: 90%;
  margin: 2rem 0 1rem;
  display: flex;
}

.wd--header-content--input input {
  flex: 2;
  width: 10 0%;
  min-height: 30px;
  padding: 1rem 2rem;
  color: rgb(97, 97, 97);
  margin-top: 2rem;
  background: #d0e5f2cc;
  font-family: var(--font-family);
  color: #003049;
  font-weight: 100;
  font-size: 20px;
  line-height: 25px;
  border: none;
  outline: none;
  cursor: pointer;
}

.wd--header-content--input button {
  flex: 0.6;
  width: 100%;
  min-height: 50px;
  padding: 1rem 2rem;
  color: #d0e5f2cc;
  background: #f77f00;
  font-family: var(--font-family);
  font-weight: bold;
  font-size: 20px;
  line-height: 25px;
  border: none;
  outline: none;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  margin-top: 2rem;
  cursor: pointer;
}

.wd--header-content--input button:hover {
  color: #003049;
}

#dateFrom {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.minus {
  min-height: 30px;
  padding: 1rem 0rem;
  color: rgb(97, 97, 97);
  margin-top: 2rem;
  background: #d0e5f2cc;
  font-family: var(--font-family);
  color: #003049;
  border: none;
  outline: none;
  cursor: pointer;
}

.wave2 {
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.wave2 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 70px;
  transform: rotateY(180deg);
}

.wave2 .shape-fill2 {
  fill: #a6c1d1;
}

@media screen and (max-width: 1050px) {
  .wd--header {
    flex-direction: column;
    padding: 2rem 2rem 15rem 2rem;
  }

  .wd--header-2 {
    width: 100%;
    align-items: center;
    justify-content: center;
    justify-self: center;
    align-self: center;
    text-align: center;
  }

  .wd--header-content {
    width: 80%;
    align-items: center;
    justify-content: center;
    justify-self: center;
    align-self: center;
  }

  .wd--header-content h1 {
    text-align: center;
  }

  .wd--header-links-container {
    display: none;
  }

  .wd--header-menu {
    display: flex;
  }
}

@media screen and (max-width: 780px) {
  .wd--header {
    padding: 0rem 2rem 15rem 2rem;
  }

  .wd--header-content {
    width: 90%;
  }

  .wd--header-content h1 {
    font-size: 48px;
    line-height: 58px;
  }

  .wd--header-2 p {
    font-size: 16px;
    line-height: 24px;
  }

  .wd--header-content--input {
    width: 50%;
    flex-direction: column;
  }

  .wd--header-content--input input,
  .wd--header-content--input button {
    border-radius: 20px;
  }

  .wd--header-content--input input {
    font-size: 16px;
    line-height: 24px;
  }

  .minus {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: transparent;
    border: none;
    outline: none;
    width: 100%;
    color: #d0e5f2cc;
    padding: 0;
    margin: 0;
  }

  #dateTo {
    margin-top: 0;
  }
}

@media screen and (max-width: 650px) {
  .wd--header-sign {
    display: none;
  }

  .wd--header-menu-container-links-sign {
    display: block;
  }
}

@media screen and (max-width: 550px) {
  .wd--header-content--input {
    width: 80%;
  }
}

@media screen and (max-width: 490px) {
  .wd--header-content h1 {
    font-size: 30px;
    line-height: 48px;
  }

  .wd--header p {
    font-size: 14px;
    line-height: 24px;
  }

  .wd--header-content--input input,
  .wd--header-content--input button {
    font-size: 12px;
    line-height: 16px;
    padding: 0.5rem 1rem;
  }
}

@media screen and (max-width: 400px) {
  .wd--header-content--input input,
  .wd--header-content--input button {
    font-size: 12px;
    line-height: 16px;
  }
}
