.wd-profile--liked-posts-post {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 60px;
  padding: 1rem;
  border-bottom: 1px solid #eaeaea;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: #243550;
}

.wd-profile--liked-posts-post:hover {
  background-color: #f3f4f4;
}

.wd-profile--liked-posts-post-image {
  width: 75px;
  height: 50px;
  border-radius: 10%;
  object-fit: cover;
}

.wd-profile--liked-posts-post-image img {
  width: 100%;
  height: 100%;
  border-radius: 10%;
  object-fit: cover;
}

.wd-profile--liked-posts-post-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 80%;
}

.wd-profile--liked-posts-post-text p {
  font-size: 0.8rem;
  font-weight: 600;
  color: #000;
  margin-left: 1rem;
}

@media screen and (max-width: 900px) {
  .wd-profile--liked-posts-post-text p {
    font-size: 0.7rem;
  }
}
