.wd__footer {
  background-color: #1d1d1d;
  color: #fff;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
  align-items: center;
  padding-bottom: 3rem;
  font-family: var(--font-family);
  width: 100%;
}

.wd__footer-logo {
  width: 200px;
}

.wd__footer-logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.wd__footer-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.wd__footer-content__left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30%;
  text-align: center;
  height: 200px;
  gap: 1rem;
}

.wd__footer-content__left h2 {
  color: #fff;
}

.wd__footer-content__right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30%;
  text-align: center;
  height: 200px;
  gap: 1rem;
}

.wd__footer-content__right h2 {
  color: #fff;
}

.wd__footer-content__right a {
  font-size: 30px;
}

.wd__footer-content__center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30%;
  margin-top: 3rem;
  text-align: center;
}

.wd__footer-content__center a {
  margin-top: 1rem;
}

@media screen and (max-width: 1050px) {
  .wd__footer-logo {
    width: 150px;
  }
}

@media screen and (max-width: 780px) {
  .wd__footer-logo {
    width: 100px;
  }
}

@media screen and (max-width: 650px) {
}

@media screen and (max-width: 490px) {
  .wd__footer {
    font-size: 10px;
  }

  .wd__footer-content__left {
    justify-content: flex-end;
  }

  .wd__footer-content__right {
    justify-content: flex-end;
  }

  .wd__footer-content__left h2 {
    font-size: 15px;
  }

  .wd__footer-content__right h2 {
    font-size: 15px;
  }

  .wd__footer-content__right a {
    font-size: 20px;
  }
}
