/* ResetPassword.css */
.wd--reset-password {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #e6e8e9;
}

.wd--reset-logo {
  width: 100px;
  height: 100px;
  object-fit: contain;
}

.wd--reset-logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.wd--reset-password--container h2 {
  text-align: center;
  color: rgb(0, 255, 8);
}

.wd--reset-password--container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  max-width: 400px;
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  height: 300px;
  text-align: center;
}

.wd--reset-password--container-error {
  display: block;
  color: #ff0000; /* Red color for error message */
}
