.filter-holder {
  margin-top: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  animation: slideDown 0.3s ease both;
  width: 100%;
}

.filter-holder.active {
  display: flex;
}

.how-long-to,
.how-long-from {
  position: relative;
}

.how-long-to label,
.how-long-from label {
  top: 0;
  left: 10px;
  transform: translateY(-50%);
  color: rgb(97, 97, 97);
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  padding: 0 0.5rem;
  pointer-events: none;
  background-color: white;
  position: absolute;
}

.apply-filter {
  margin-top: 1rem;
  width: 100px;
  height: 40px;
  border-radius: 50px;
  background-color: #f77f00;
  color: white;
  font-weight: 600;
  font-size: 15px;
  border: none;
  outline: none;
  cursor: pointer;
}

.how-long-filter,
.how-much-filter {
  width: 600px;
  display: flex;
  justify-self: center;
  align-self: center;
  align-items: center;
  justify-content: space-between;
}

.currency-input,
.how-long-from input,
.how-long-to input {
  min-height: 30px;
  padding: 0.5rem 1rem;
  color: rgb(97, 97, 97);
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;
  border: 1px solid rgb(167, 166, 166);
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  width: 200px;
}

@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-10%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media screen and (max-width: 1050px) {
  .how-long-filter,
  .how-much-filter {
    width: 400px;
  }

  .how-long-from input,
  .how-long-to input,
  .currency-input {
    font-size: 15px;
    text-align: center;
    width: 150px;
  }
}

@media screen and (max-width: 500px) {
  .how-long-filter,
  .how-much-filter {
    width: 300px;
  }
  .how-long-from input,
  .how-long-to input,
  .currency-input {
    font-size: 12px;
    width: 100px;
  }
}
