.forgot-password-form {
  color: rgb(77, 77, 77);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  text-align: center;
}

.forgot-password-form h1 {
  font-size: 25px;
  width: 70%;
}

.forgot-password-form p {
  margin-top: 1rem;
  font-size: 15px;
  text-align: center;
  width: 100%;
}

.login-back-btn {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-size: 1rem;
  text-decoration: underline;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: transparent;
}
