.custom-button {
  padding: 0.5rem 1rem;
  color: #fff;
  background: #f77f00;
  font-family: var(--font-family);
  font-weight: 600;
  letter-spacing: 0.1rem;
  font-size: 15px;
  line-height: 25px;
  border: none;
  outline: none;
  border-radius: 20px;
  cursor: pointer;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
}

.custom-button:disabled {
  background: #ffb565;
  cursor: not-allowed;
}
.custom-button:disabled:hover {
  background: #ffb565;
  color: #fff;
  cursor: not-allowed;
}

.custom-button:hover {
  color: #003049;
}
